.grid{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: 1fr 1fr 1.2fr;
    gap:30px;

    &__item{
        
    }

    &__item--big{
        grid-column: 1,3;
        grid-row: 1,3;
    }


}
